Repository NextNodeSolutions/logger: changes, and which lint-staged commands are due for each by the changed paths.
All: pnpm lint, better-sort-package-json, pnpm format

fix: resolve CI test failures by explicitly setting development environment
  .changeset/logger-improvements.md
  src/__tests__/core/logger.spec.ts
  src/__tests__/index.spec.ts
Due: pnpm lint, pnpm format

refactor: update types and move location to utils
  src/types.ts
  src/utils/location.ts
Due: pnpm lint, pnpm format

feat: add environment-specific formatters (node, browser, json)
  src/formatters/console-browser.ts
  src/formatters/console-node.ts
  src/formatters/json.ts
Due: pnpm lint, pnpm format

feat: add pluggable transport system with console and http transports
  src/transports/console.ts
  src/transports/http.ts
  src/transports/transport.ts
Due: pnpm lint, pnpm format

feat: rewrite logger with level filtering, silent mode, and transport support
  src/logger.ts
Due: pnpm lint, pnpm format

feat: add testing utilities (createSpyLogger)
  src/testing/test-utils.ts
Due: pnpm lint, pnpm format

refactor!: remove barrel file and old core directory, update exports
  package.json
  src/core/formatters.ts
  src/core/location.ts
  src/core/logger.ts
  src/index.ts
Due: pnpm lint, better-sort-package-json, pnpm format

test: update tests for new structure and add tests for new features
  src/__tests__/core/formatters.spec.ts
  src/__tests__/core/location.spec.ts
  src/__tests__/core/logger.spec.ts
  src/__tests__/index.spec.ts
  src/__tests__/test-setup.ts
Due: pnpm lint, pnpm format

docs: complete README rewrite with correct API documentation
  README.md
Due: pnpm format

chore: prepare v0.3.0 release
  .changeset/v03-world-class-logger.md
  src/formatters/console-node.ts
  src/logger.ts
  src/testing/test-utils.ts
  src/types.ts
Due: pnpm lint, pnpm format

fix(security): add input validation and attack prevention
  src/__tests__/core/formatters.spec.ts
  src/__tests__/core/location.spec.ts
  src/__tests__/transports/http.spec.ts
  src/formatters/json.ts
  src/transports/http.ts
  src/utils/location.ts
Due: pnpm lint, pnpm format

refactor: remove unnecessary else block in console transport
  src/transports/console.ts
Due: pnpm lint, pnpm format

Release v0.3.0 with transport system, level filtering, and security hardening (#13)
  .changeset/v03-world-class-logger.md
  README.md
  package.json
  src/__tests__/core/formatters.spec.ts
  src/__tests__/core/location.spec.ts
  src/__tests__/core/logger.spec.ts
  src/__tests__/index.spec.ts
  src/__tests__/test-setup.ts
  src/__tests__/transports/http.spec.ts
  src/core/logger.ts
  src/formatters/console-browser.ts
  src/formatters/console-node.ts
  src/formatters/json.ts
  src/index.ts
  src/logger.ts
  src/testing/test-utils.ts
  src/transports/console.ts
  src/transports/http.ts
  src/transports/transport.ts
  src/types.ts
  src/utils/location.ts
Due: pnpm lint, better-sort-package-json, pnpm format

fix(ci): remove invalid inputs from quality-checks workflow
  .github/workflows/test.yml
Due: none

fix(ci): remove invalid inputs from quality-checks workflow (#14)
  .github/workflows/test.yml
Due: none

fix(ci): remove invalid node/pnpm inputs from remaining workflows
  .github/workflows/auto-publish.yml
  .github/workflows/manual-publish.yml
  .github/workflows/version.yml
Due: none

fix(ci): remove invalid node/pnpm inputs from remaining workflows (#15)
  .github/workflows/auto-publish.yml
  .github/workflows/manual-publish.yml
  .github/workflows/version.yml
Due: none

docs: update CLAUDE.md to reflect actual codebase structure
  CLAUDE.md
Due: pnpm format

docs: update CLAUDE.md to reflect actual codebase structure (#17)
  CLAUDE.md
Due: pnpm format

refactor: dry code cleanup and remove type assertions
  src/__tests__/core/location.spec.ts
  src/__tests__/test-setup.ts
  src/formatters/console-browser.ts
  src/formatters/console-node.ts
  src/formatters/json.ts
  src/formatters/shared.ts
  src/logger.ts
  src/testing/test-utils.ts
  src/utils/scope.ts
  src/utils/time.ts
Due: pnpm lint, pnpm format

chore: add changeset for dry code cleanup
  .changeset/dry-code-cleanup.md
Due: pnpm format

fix: remove unused formatTime/formatLocation from __testing__ exports
  src/formatters/console-browser.ts
  src/formatters/console-node.ts
Due: pnpm lint, pnpm format

Clean up code duplication and improve type safety in logger (#18)
  .changeset/dry-code-cleanup.md
  src/__tests__/core/location.spec.ts
  src/__tests__/test-setup.ts
  src/formatters/console-browser.ts
  src/formatters/console-node.ts
  src/formatters/json.ts
  src/formatters/shared.ts
  src/logger.ts
  src/testing/test-utils.ts
  src/utils/scope.ts
  src/utils/time.ts
Due: pnpm lint, pnpm format

fix: change version bump from minor to patch
  .changeset/dry-code-cleanup.md
Due: pnpm format

fix: change version bump from minor to patch (#21)
  .changeset/dry-code-cleanup.md
Due: pnpm format

chore: migrate tooling to @nextnode/standards
  .lintstagedrc.json
  biome.json
  commitlint.config.js
  eslint.config.mjs
  package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
  prettier.config.js
  tsconfig.json
  vitest.config.ts
Due: pnpm lint, better-sort-package-json, pnpm format

chore: add changeset for tooling migration
  .changeset/tooling-migration.md
Due: pnpm format

style: apply prettier formatting
  .changeset/dry-code-cleanup.md
  .github/workflows/auto-publish.yml
  .github/workflows/changeset-check.yml
  .github/workflows/manual-publish.yml
  .github/workflows/test.yml
  .github/workflows/version.yml
  CHANGELOG.md
  CLAUDE.md
  README.md
  README_CHANGESETS.md
  src/__tests__/test-setup.ts
  tsconfig.build.json
Due: pnpm lint, pnpm format

fix: set changeset to patch
  .changeset/dry-code-cleanup.md
  CHANGELOG.md
  CLAUDE.md
Due: pnpm format

refactor: use @nextnode/standards prettier config
  .changeset/tooling-migration.md
  .prettierignore
  package.json
  pnpm-lock.yaml
  prettier.config.js
Due: pnpm lint, better-sort-package-json, pnpm format

refactor: use prettier/core from @nextnode/standards
  package.json
  pnpm-lock.yaml
Due: better-sort-package-json, pnpm format

style: fix biome lint errors
  src/__tests__/core/location.spec.ts
  src/formatters/console-node.ts
  src/transports/console.ts
  src/utils/location.ts
Due: pnpm lint, pnpm format

style: reorder imports and exports
  src/__tests__/core/formatters.spec.ts
  src/__tests__/core/logger.spec.ts
  src/__tests__/transports/http.spec.ts
  src/__tests__/utils/environment.spec.ts
  src/__tests__/utils/utils.spec.ts
  src/formatters/console-browser.ts
  src/formatters/shared.ts
  src/logger.ts
  src/testing/test-utils.ts
Due: pnpm lint, pnpm format

Migrate tooling to @nextnode/standards and clean up redundant code (#20)
  .changeset/dry-code-cleanup.md
  .changeset/tooling-migration.md
  .github/workflows/auto-publish.yml
  .github/workflows/changeset-check.yml
  .github/workflows/manual-publish.yml
  .github/workflows/test.yml
  .github/workflows/version.yml
  .lintstagedrc.json
  .prettierignore
  CHANGELOG.md
  CLAUDE.md
  README.md
  README_CHANGESETS.md
  biome.json
  commitlint.config.js
  eslint.config.mjs
  package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
  src/__tests__/core/formatters.spec.ts
  src/__tests__/core/location.spec.ts
  src/__tests__/core/logger.spec.ts
  src/__tests__/test-setup.ts
  src/__tests__/transports/http.spec.ts
  src/__tests__/utils/environment.spec.ts
  src/__tests__/utils/utils.spec.ts
  src/formatters/console-browser.ts
  src/formatters/console-node.ts
  src/formatters/shared.ts
  src/logger.ts
  src/testing/test-utils.ts
  src/transports/console.ts
  src/utils/location.ts
  tsconfig.build.json
  tsconfig.json
  vitest.config.ts
Due: pnpm lint, better-sort-package-json, pnpm format

perf: migrate to tsup for 71% bundle size reduction
  CLAUDE.md
  package.json
  pnpm-lock.yaml
  tsup.config.ts
Due: pnpm lint, better-sort-package-json, pnpm format

chore: add changeset for bundle optimization
  .changeset/bundle-optimization.md
Due: pnpm format

perf: migrate to tsup for 71% bundle size reduction (#24)
  .changeset/bundle-optimization.md
  CLAUDE.md
  package.json
  pnpm-lock.yaml
  tsup.config.ts
Due: pnpm lint, better-sort-package-json, pnpm format

fix(pkg): add main and types fields for bundlephobia compatibility
  .changeset/bundlephobia-entry-point.md
  package.json
Due: better-sort-package-json, pnpm format

fix(pkg): add main and types fields for bundlephobia compatibility (#26)
  .changeset/bundlephobia-entry-point.md
  package.json
Due: better-sort-package-json, pnpm format

Path conditions:
  pnpm lint: any of: *.{js,jsx,ts,tsx}
  better-sort-package-json: any of: package.json
  pnpm format: any of: *.{js,jsx,ts,tsx,json,jsonc,md}
